/*
CSS para ManGoApp
ELEMENTOS COMUNES
Autor: Danny Estrada
*/

.rdm-tarjeta{
	background-color: #fff;
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 1em;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.rdm-tarjeta--primario, .rdm-tarjeta--primario-largo{
    display: flex;
    align-items: center;
	padding: 1em;
}

.rdm-tarjeta--primario-largo{
    display: block;
}

.rdm-tarjeta--primario-contenedor, .rdm-tarjeta--primario-contenedor-top{
    display: block;
}

.rdm-tarjeta--primario-contenedor-top{
    vertical-align: top;
}

.rdm-tarjeta--titulo, .rdm-tarjeta--subtitulo, .rdm-tarjeta--subtitulo-largo, .rdm-tarjeta--dashboard-subtitulo{
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin: 0;
    margin-left: 1em;
}

.rdm-tarjeta--dashboard-titulo-positivo, .rdm-tarjeta--dashboard-titulo-negativo{
    color: #009688;
    font-size: 2.75em;
    font-weight: 300;
    margin: 0.25em 0em;
}

.rdm-tarjeta--dashboard-subtitulo-positivo, .rdm-tarjeta--dashboard-subtitulo-negativo, .rdm-tarjeta--dashboard-subtitulo-neutral{
    color: #009688;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 0.5em;
}

.rdm-tarjeta--dashboard-titulo-negativo{
    color: #F44336;
}

.rdm-tarjeta--dashboard-subtitulo-negativo{
    color: #F44336;
}

.rdm-tarjeta--dashboard-subtitulo-neutral{
    color: #222;
}

.rdm-tarjeta--titulo-largo{
	font-size: 1.6em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5em;
    margin: 0;
}

.rdm-tarjeta--subtitulo, .rdm-tarjeta--subtitulo-largo{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}

.rdm-tarjeta--subtitulo{
    margin-left: 1em;
}

.rdm-tarjeta--media{	
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 13em;
    padding: 1em;
}

.rdm-tarjeta--avatar{
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
}

.rdm-tarjeta--cuerpo, .rdm-tarjeta--dashboard-cuerpo{
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    margin-top: -0.2em;
    padding-top: 0;
    padding: 0.5em 1.2em;
}

.rdm-tarjeta--dashboard-cuerpo{
    padding: 0em 1.2em;
}

.rdm-tarjeta--acciones-izquierda, .rdm-tarjeta--acciones-derecha{
    padding: 0.5em;
    box-sizing: border-box;
    text-align: left;
}

.rdm-tarjeta--acciones-derecha{
    text-align: right;
}

